*.pth
*.pgn
trained_models/
models/trained_models/
format/trained_models/
/Users/corbynledbetter/Desktop/pamelaislearning-engine/chess-engine-fresh/models/pgn/1 - READ ME.txt
models/books
models/tablebases
.DS_Store
__pycache__/
*.pyc
*.json
venv/
files-to-remove.txt
preprocess_data.py
download_chess_data.py
models/pgn/1 - READ ME.txt
